.diag{
    width : 100%;
    height : 100%;
    background-color: #ffffff;
  
}

.image{
    width : 100%;
    height : 100%;
    background-color: #383838;
    float: right;
    border: #ffffff;
    border-radius: 1em;
}
.h{
    font-size: 1em;
    font-family: 'Nanum Gothic', sans-serif;
    color: #ffffff;
   
}
.data{
    padding: 2em;
    width : 100%;
    height : 70%;
   
    background-color: #383838;
    margin: 1.2em;
}
.hd{
    color: #ffffff;
    font-size: 1.5em;
    display: inline;
}
.btnf{
    background-color: #ffffff;
    color: #383838;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em;
    font-size: 1em;
    font-family: 'Nanum Gothic', sans-serif;
    
}
.text{
    font-size: 1em;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0.5em;
    float: left;
}

.archetecture{
    padding: 2em;
    width : 100%;
    height : 70%;
    display: flex;
    background-color: #383838;
}